root=true

[*.{kt,kts}]
end_of_line=lf
insert_final_newline=true
charset=utf-8
trim_trailing_whitespace=true
max_line_length=100

ij_continuation_indent_size=4
ij_kotlin_keep_blank_lines_before_right_brace=0
ij_kotlin_keep_blank_lines_in_code=1
ij_kotlin_keep_blank_lines_in_declarations=1
ij_kotlin_name_count_to_use_star_import=10000
ij_kotlin_name_count_to_use_star_import_for_members=10000
ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_allow_trailing_comma=true

ktlint_code_style=android_studio
ktlint_standard_trailing-comma-on-call-site=disabled
ktlint_standard_function-naming=disabled
ktlint_standard_function-signature=disabled
ktlint_function_signature_wrapping_rule_always_with_minimum_parameters=3

[*Test.kt]
ktlint_standard_max-line-length=disabled

