.DS_Store
**/.idea
/projectFilesBackup
.gradle
.DS_Store
*.iml
*.ipr
*.iws
**/version.json
**/build/
**/local.properties
gradle-user-home
profile-out*/
local.settings.gradle.kts
static-analysis/bin

# TidalAPI generation temporary files
tidalapi/bin/venv/
tidalapi/bin/__pycache__/
